body {
    background: url("https://cdn.shopify.com/s/files/1/0177/9630/products/terrain-babyfoot_grande.jpg?v=1493063869%22");
    background-size: cover;
    align-items: center;
    text-align: center;
    color: rgb(31, 31, 31);
    font-family: Tahoma, sans-serif;
}
.formulaire {
    position: relative;
    
    z-index: 2;
}

a{
    color: rgb(31, 31, 31);
    font-family: Tahoma, sans-serif;
}
.form {
  height: auto;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}